/*-- scss:defaults --*/
@font-face {
    font-family: JuliaMono;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono-webfonts/JuliaMono-Regular.woff2") format("woff2");
    font-display: swap;
    // font-weight: 400;
    // unicode-range: U+00-7F; /* Basic Latin characters */
}

$font-family-monospace: JuliaMono, Menlo, "Roboto Mono", "Lucida Sans Typewriter", "Source Code Pro", monospace;

// Base document colors
$body-bg: #1e2227;
$navbar-bg: #1e2227;
$body-color: lightgray;
$link-color: #75AADB;
//$link-color: #FFFFFF;
// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
h2 {
    border-bottom-color: lightgray;
}

pre {
    color: lightgray !important;
    // font-size: 1em !important;
    line-height: normal !important;
}

.ansi-black-intense-black, .ansi-bright-black-fg {
    color: lightgray !important;
}