/*-- scss:defaults --*/
// Base document colors
$body-bg: #1e2227;
$navbar-bg: #1e2227;
$body-color: lightgray;
$link-color: #75AADB;
//$link-color: #FFFFFF;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
h2 {
    border-bottom-color: lightgray;
}

pre {
    code {
        color: lightgray;
    }
}